{% extends 'admin.html' %}
{% block head %}专家详情信息{% endblock %}
{% block body %}

        <form action="../{{ expert.username }}/" enctype="multipart/form-data" method="POST" onsubmit="return toValidAdmin()">
               <div class="box">
                        <div class="form-group">
                            <label class="form-label">
                                状态
                            </label>
                            <div class="controls">
                                <span style="color: #c12e2a; font-size: large">
                                    {% if expert.state == 'done'%}待审核{% endif %}
                                    {% if expert.state == 'checked'%}已审核{% endif %}
                                    {% if expert.state == 'denied'%}已驳回{% endif %}
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                专家证书编号
                                <span style="color: red">*</span>
                            </label>
                            <div class="controls">
                                <input id="expert_number" type="text" value="{{ expert.expert_number|default_if_none:'' }}" name="expert_number" maxlength="8">
                                <span>由8位数字组成</span>
                                <span id="expert_number_tip" class="hint" hidden="hidden">专家证书编号格式错误</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                证书有效时间
                                <span style="color: red">*</span>
                            </label>
                            <div class="controls" id="c1">
                                <input id='valid_time' type="text" value='{{ expert.valid_time|default_if_none:'' }}'name="valid_time" maxlength="10" >
                                <span>格式形如：2017-07-06</span>
                                <span id="valid_time_tip" class="hint" hidden="hidden">证书有效时间格式错误</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                姓名
                            </label>
                            <div class="controls">
                                <span class="info">{{ expert.name|default_if_none:'' }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                性别
                            </label>
                            <div class="controls">
                                <span class="info">
                                    {% if expert.gender == 'male'%}男{% endif %}
                                    {% if expert.gender == 'female'%}女{% endif %}
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                出生日期
                            </label>
                            <div class="controls">
                                <span class="info">{{ expert.birthday|default_if_none:'' }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                电话号码
                            </label>
                            <div class="controls">
                                <span class="info">{{ expert.phone_number|default_if_none:'' }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                邮箱
                            </label>
                            <div class="controls">
                                <span class="info">{{ expert.email|default_if_none:'' }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                政治面貌
                            </label>
                            <div class="controls">
                                <span class="info">{{ expert.politic|default_if_none:'' }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                证件类型
                            </label>
                            <div class="controls">
                                <span class="info">
                                    {% if expert.certificate_type == 'i.d.card'%}身份证{% endif %}
                                    {% if expert.certificate_type == 'student card'%}学生证{% endif %}
                                    {% if expert.certificate_type == 'passport'%}护照{% endif %}
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                证件号
                            </label>
                            <div class="controls">
                                <span class="info">
                                    {{ expert.certificate_number|default_if_none:'' }}
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">
                                照片
                            </label>
                            <div class="controls">
                                <img id="picture_display" src="{{ MEDIA_URL }}{{ expert.picture }}" alt="请上传图片" >
                            </div>
                        </div>

                        <div>
                            <span  class="form-tips">{% for key, error in expert_form.errors.items %}{{ error }}{% endfor %}</span>
                        </div>
               </div>
            {% csrf_token %}
                <div class="box">
                    <button type="submit" name="Action" class="submit btn-save" value="checked">同&nbsp;意&nbsp;申&nbsp;请</button>
                    <button type="submit" name="Action" class="submit btn-save" value="denied">驳&nbsp;回&nbsp;申&nbsp;请</button>
                </div>
        </form>
                        

{% endblock %}
{% block js_link %}
    <script src="/static/js/admin.js"></script>
{% endblock %}