html {
    font: normal 14px / 20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    -webkit-text-size-adjust: 100%;
    color: #444;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.container{
	max-width: 1760px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: table;
	padding: 0 30px;
}

.box{
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	min-height: 10px;
	box-sizing: border-box;
	border-radius: 2px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.form-group{
	border-bottom: 1px solid #EEE;
	background-color: #FBFBFB;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	display: table;	
	width: 100%;
	margin-right: -15px;
	margin-left: -15px;
}

.form-label{
	text-align: right;
	padding-top: 22px !important;
	width: 170px;
	float: left;
	font-weight: bold;
}

.controls{
	margin-left: 175px;
	border-left: 1px solid #EEE;
	padding: 15px !important;
	background-color: white;
}

.sidebar-left{
	float:left;
	width: 316px;
	box-sizing: border-box;
	display: block;
	padding-right:15px;
	border-right: 1px solid #ddd;
}

.center{
	margin-left: 316px;
	padding-left: 15px;
}

.center-content{
	display: inline-block;
}

.uk-nav{
	margin: 0;
	padding: 0;
	list-style: none;
}
.uk-nav-side .uk-nav-header{
	color: #ccc;
}
.uk-nav-header{
	padding: 5px 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
	max-width: 300px;
}

.input-group-addon:first-child {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: #555555;
	text-align: center;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	border-radius: 4px;
	display: table-cell;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	border-collapse: separate;
}

.fa{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	content: "\f073";
}

.btn-save{
	margin: 10px;
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
	border-radius: 4px;
	padding: 6px 12px;
}